{% extends 'base.html' %}
{% load static %}

{% block title %}About • {% endblock title %}

{% block content %}
  <div class="container mt-5 border border-2 border-secondary-subtle ">
    <h2 class="text-center mt-3">Information about Picturegram</h2>
    <p class="text-center fst-italic">A Picturegram site is a social media platform that allows users to share photos with their followers.
        Similar to Instagram users can add captions, hashtags, and location tags to their posts, making it
        easier for others to discover and engage with their content. In addition to sharing photos,
        Picturegram is expected to include options for users to chat and connect with other
        individuals directly on the site. This would further enhance the social experience by allowing users to
        have conversations, share recommendations, and establish more meaningful connections beyond just liking
        and commenting on posts. Such a feature would transform Picturegram into a more comprehensive social
        media platform, fostering even greater engagement and interaction among users.</p>
  </div>
{% endblock content %}